<html>
<body>
<h1> {{time}} </h1>

<h1>Summary :</h1>
<h2>1. Who is the best cricketer in the world ?</h2>
<h3>Answer is Sachin Tendulkar</h3>
<h2>2. What are the colors in the Indian national flag ?</h2>
<h3>Answer is  Orange,White,Green</h3>
<h2>3. Who invented the electric bulb ?</h2>
<h3>Answer is  Thomas addition</h3>
<h2>4. which operating systems is developed by Apple ?</h2>
<h3>Answer is  IOS</h3>
<h2>5. Who is the founder of google ?</h2>
<h3>Answer is Larry page and Sergey brin</h3>
</body>
<form action="/" method='get'>
    <button type="submit">Play Again</button>
</form>
</html>

